/* ThemeSwitcher.module.css */
.button {
	padding: 10px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.light {
	background-color: #1976d2;
	color: #fff;
}

.dark {
	background-color: #333;
	color: #fff;
}
